@import "../variables.scss";

.btn {
    width: 80%;
    border: 3px solid black;
    border-radius: 15px;
    background: none;
    aspect-ratio: 1 / 1;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    color: $cream;
    background-color: $red-orange;
  }
  
  .btn.active {
    background-color: $amber;
    color: $red-orange;
  }
  
  .btn.inactive {
    opacity: .3;
  }
  
  .btn:hover:not(:disabled),
  .btn:focus:not(:disabled) {
    background-color: $amber;
    color: $red-orange;
  }